<div class="container">
    <form>
        <div class="row">
            <div class="col-12">
                <h2>Create Account</h2>
            </div>
          <div class="col-6">
              <div><label for="firstname">First Name</label></div>
              <input type="text" id="firstname" placeholder="First name">
          </div>
          <div class="col-6">
            <div><label for="lastname">Last Name</label></div>
            <input type="text" id="lastname" placeholder="Last name">
          </div>
          <div class="col-6">
            <div><label for="email">Email</label></div>
            <input type="text" id="email"  placeholder="Email">
          </div>
          <div class="col-6">
            <div><label for="password">Password</label></div>
            <input type="text" id="password" placeholder="password">
          </div>
          <div class="col-6">
            <div><label for="number">Number</label></div>
          <input type="text" id="number" class="" placeholder="number">
        </div>
        <div class="col-12 text-center">
            <button class="btn btn-danger">Create Account</button>
        </div>

        </div>
      </form>
</div>