@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');

#top-header li a {
    text-decoration: none;
}
button.search-btn:focus {
    outline: none;
}
.header-logo a {
    text-decoration: none;
}
.header-logo a:hover {
    color: red;
}
.search-btn i {
    font-size: 13px;
}
.navbar {
    background-color: white!important;
    margin-bottom: -2px;
}
.navbar-toggler .fa-bars {
    font-size: 20px!important;
}
.navbar-toggler {
    outline: none;
}
.navbar li a {
    font-family: 'Antic Slab', serif;
    font-size: 15px;
    margin-right: 30px;
    transition: ease-in;
}
.navbar li a:hover {
    color: red;
}